.events-table {
	flex-grow: 1;
	overflow-y: scroll;
	margin-right: 16px;
}

.events-table::-webkit-scrollbar {
	width: 4px;
}

.events-table::-webkit-scrollbar-thumb {
	width: 8px;
	background-color: var(--secondary-color);
}

.events-table > div:first-of-type {
	margin-top: 0.5rem;
}
