.events-pagination {
	display: flex;
	margin: 0.25rem 0;
	align-items: center;
}

.events-pagination-records {
	flex-grow: 1;
}

.events-pagination-counts,
.events-pagination-arrow {
	margin-right: 1rem;
}

.events-pagination-controls > div:last-of-type {
	margin-right: unset;
}

.events-pagination-controls {
	display: flex;
	background-color: var(--secondary-color);
	color: white;
	margin-right: 1rem;
	padding: 0.1rem 0.5rem;
	border-radius: 8px;
	font-weight: 700;
}

.events-pagination-records {
	display: flex;
}

.events-pagination-records > input {
	width: 40px;
	border: solid 1px #ccc;
	outline: none;
	padding: 0.1rem;
	border-radius: 3px;
	margin-right: 0.2rem;
	font-size: 0.8rem;
}

.events-pagination-records > div:first-of-type {
	margin-right: 1rem;
}

.events-pagination-records > input :focus {
	outline: none;
}
