.events-table-row {
	display: flex;
	width: 100%;
	min-height: 100px;
	align-items: center;
	box-sizing: border-box;
	border: solid 1px #ccc;
	border-radius: 8px;
	margin-bottom: 0.5rem;
	padding: 4px 16px;
}

.events-table-row-icon {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 60px;
	margin-right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-color);
	color: white;
}

.events-table-row-icon > i {
	font-size: 2rem;
}

.events-table-row-content {
	display: flex;
	flex-grow: 1;
	height: 100%;
	width: 0px;
}

.event-text {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.event-date {
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-text-header-item {
	margin-block-start: 8px;
	margin-block-end: 8px;
	margin-right: 16px;
}

.event-text-header,
.event-text-items {
	display: flex;
}

.event-text-item {
	display: flex;
	margin-right: 16px;
}

.event-text-label {
	margin-right: 8px;
}

.event-text-value {
	font-weight: 500;
}

.event-text-label,
.event-text-value {
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.event-text-desc {
	width: 90%;
}

@media only screen and (max-width: 500px) {
	.event-text-header,
	.event-text-items {
		display: flex;
		flex-direction: column;
	}

	.event-text-header {
		margin-bottom: 0.5rem;
	}

	.event-text-header-item {
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		margin-right: 16px;
		margin-block-start: unset;
		margin-block-end: unset;
	}
	.events-table-row-icon {
		width: 2.5rem;
		height: 2.5rem;
	}
	.events-table-row-icon > i {
		font-size: 1.5rem;
	}
}
