.events-dropdown {
	display: flex;
	align-items: center;
	margin-right: 16px;
}

.events-dropdown h3 {
	margin-block-end: unset;
	margin-block-start: unset;
	margin-right: 8px;
}

.events-dropdown select {
	border: solid 1px #ccc;
	outline: none;
	padding: 4px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	border-radius: 3px;
	font-weight: 700 !important;
	font-size: 1rem;
	width: 232px;
}

.events-dropdown select:focus {
	outline: none;
}

@media only screen and (max-width: 750px) {
	.events-dropdown {
		margin-top: 0.25rem;
	}
}

@media only screen and (max-width: 600px) {
	.events-dropdown select {
		width: 177px;
	}
}
