.events-filters {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 50px;
	margin: 8px 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.events-filters::-webkit-scrollbar {
	width: 4px;
}

.events-filters::-webkit-scrollbar-thumb {
	width: 8px;
	background-color: var(--secondary-color);
}
