.events {
	display: flex;
	max-width: 1200px;
	height: 100vh;
	margin: 0px auto;
	flex-direction: column;
	background-color: white;
	box-sizing: border-box;
	flex-grow: 1;
}

.events-header {
	display: flex;
	padding: 0 0 0 16px;
}

.events-content {
	display: flex;
	flex-grow: 1;
	height: 0px;
	margin: 1rem 0;
	border-top: solid 1px var(--secondary-color);
}

.events-content-table {
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 0px;
}

.events-header-filters {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
	.events-header-filters {
		flex-wrap: unset;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 1rem;
	}
}
