.DateInput {
	width: 105px;
}

.DateRangePickerInput__withBorder {
	border: unset;
}

.DateInput_input {
	font-size: 1.2rem;
	padding: 4px;
	border-bottom: unset;
	line-height: unset;
	box-sizing: border-box;
}

.events-date {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 16px;
}

.events-date h3 {
	margin-block-end: unset;
	margin-block-start: unset;
	margin-right: 8px;
}

.events-date-picker {
	border: solid 1px #ccc;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	border-radius: 3px;
	width: 230px;
}

.DateRangePickerInput_arrow {
	height: 1.2rem;
	width: 1.2rem;
}

.DateRangePickerInput_arrow_svg {
	height: 1.2rem;
	width: 1.2rem;
	vertical-align: unset;
}

@media only screen and (max-width: 600px) {
	.DateInput {
		width: 80px;
	}

	.events-date-picker {
		width: 175px;
	}
}
