html {
	--primary-color: #54c5c1;
	--primary-light: #d0f3f2;
	--secondary-color: #00254d;
}

.app {
	background-color: var(--primary-light);
}

@media only screen and (max-width: 630px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (max-width: 500px) {
	html {
		font-size: 10px;
	}
}
