.events-filter-item {
	margin: 0px 5px;
	box-sizing: border-box;
	/* border: solid 5px; */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.events-filter-item > div {
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 1.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.events-filter-item i {
	font-size: 1.2rem;
}

.filter-item-background {
	color: var(--secondary-color);
	background-color: white;
}

.filter-item-background.--selected {
	background-color: var(--secondary-color);
	color: white;
}
