.text-placeholder {
	animation: blinkingBackground 2s infinite;
	background-color: #ababab;
	border-radius: 5px;
}

.blinking {
	animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
	0% {
		opacity: 0;
	}
	12% {
		opacity: 0.25;
	}
	25% {
		opacity: 0.5;
	}
	37% {
		opacity: 0.75;
	}
	50% {
		opacity: 1;
	}
	52% {
		opacity: 0.75;
	}
	75% {
		opacity: 0.5;
	}
	87% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}
